.Sidebar {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-shrink: 0;
  width: 260px;
  padding: 8px;
  border-radius: 16px;
  transition: transform 0.3s ease-in-out;
}

.NewChatButton {
  width: 100%;
  padding: 12px;
  background: none;
  border: 2px dashed light-dark(#d3d3d3, #3f3f3f);
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  color: light-dark(#212121, #ffffff);
}

.NewChatButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.MenuButton {
  position: fixed;
  top: 16px;
  left: 16px;
  z-index: 3;
  display: none;
  padding: 8px;
  border: none;
  background: none;
  cursor: pointer;
}

.MenuButton svg {
  vertical-align: middle;
  fill: light-dark(#212121, #ffffff);
}

.Overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vh;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.3s ease-in-out;
}

.Chats {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.Chat[data-active="true"] .ChatButton {
  background: light-dark(#ffffff, #212121);
  border-color: transparent;
  cursor: default;
}

.ChatButton {
  width: 100%;
  padding: 12px;
  background: none;
  border: 1px solid transparent;
  border-radius: 8px;
  text-align: left;
  cursor: pointer;
}

.ChatButton:hover {
  border-color: light-dark(#d3d3d3, #3f3f3f);
}

.ChatTitle {
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .Sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    padding: 72px 16px 16px;
    border-radius: 0;
    background: light-dark(#f5f5f5, #1e1e1e);
    transform: translateX(-100%);
  }

  .Sidebar[data-open="true"] {
    transform: translateX(0);
  }

  .MenuButton {
    display: block;
  }

  .Overlay {
    display: block;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
